/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sala-foto {
    text-align: center;
    margin-bottom: 20px;
}

.sala-foto img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.device-icones {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* Permite que os itens quebrem linha se necessário */
    gap: 50px;
    /* Espaçamento entre os ícones */
    margin-top: 20px;
}

.dado-item {
    display: flex;
    flex-direction: column;
    /* Alinha o texto abaixo do ícone */
    align-items: center;
    text-align: center;
    width: 120px;
    /* Largura fixa para os itens */
}

.dado-item img {
    width: 64px;
    /* Define uma largura fixa para as imagens */
    height: 64px;
    /* Define uma altura fixa para as imagens */
    object-fit: contain;
    /* Garante que a imagem seja ajustada proporcionalmente */
    margin-bottom: 10px;
    /* Espaço entre o ícone e o texto */
    transition: transform 0.3s ease;
    /* Animação suave ao passar o mouse */
}

.dado-item p.dado-texto {
    font-size: 14px;
    /* Diminui o tamanho de todo o texto dos dados */
    color: rgb(227, 170, 18);
    margin: 0;
    text-align: center;
    /* Garante que o texto fique centralizado */
    word-wrap: break-word;
    /* Quebra o texto se for muito longo */
}



.tooltip {
    position: absolute;
    background-color: black;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    visibility: hidden;
    pointer-events: none;
    /* Faz com que o tooltip não interfira nos eventos do mouse */
}