.container {
    background-color: #003366;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 98%;
    color: #ffffff;
    
}

.container h3 {
    color: #ffcc00;
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #001f3f;
    color: #ffffff;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #444;
}

th {
    background-color: #ffcc00;
    color: #001f3f;
}
th:hover{
    background-color: #e6b800;
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: #004080;
}

tr:nth-child(odd) {
    background-color: #0059b3;
}

.centralizado {
    text-align: center;
}

.resumo-status {
    margin: 15px 0;
    font-size: 16px;
    font-weight: 500;
    color: #ffcc00;
}

#loader {
    font-size: 1.1em;
    color: white;
}

#tabela-monitoramento {
    display: block;
    max-height: 575px;
    overflow-y: auto;

}
